@page
@model IndexModel
@{
    ViewData["Title"] = "trackinger";
}

<div class="text-center">
    <img src="images/logo.png" alt="Logo" />
    <h1 class="display-4">
        <a href="/notifications">
            online solution for tracking bugs
        </a>
    </h1>
    <br><br>
</div>
