@page
@using trackinger.Models
@model trackinger.Pages.Bugs.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Bug</h4>
<hr/>
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Bug.Id"/>
            <div class="form-group">
                <label asp-for="Bug.CreationDate" class="control-label"></label>
                <input asp-for="Bug.CreationDate" class="form-control"/>
                <span asp-validation-for="Bug.CreationDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Bug.Title" class="control-label"></label>
                <input asp-for="Bug.Title" class="form-control"/>
                <span asp-validation-for="Bug.Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Bug.Description" class="control-label"></label>
                <input asp-for="Bug.Description" class="form-control"/>
                <span asp-validation-for="Bug.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Bug.Priority" class="control-label"></label>
                <select asp-for="Bug.Priority" class="form-control" asp-items="Html.GetEnumSelectList<Priority>()">
                    <option selected="selected" value="">select option</option>
                </select>
                <span asp-validation-for="Bug.Priority" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Bug.CreatorId" class="control-label"></label>
                <select asp-for="Bug.CreatorId" class="form-control" asp-items="ViewBag.CreatorId">
                    <option selected="selected" value="">select option</option>
                </select>
                <span asp-validation-for="Bug.CreatorId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary"/>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}